@charset "utf-8";

main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#centerWrapper {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#switchToLandscape {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2 url("/images/basic/orientation.png") center/75% no-repeat;
    z-index: 5;
}

#launchButton {
    font-size: 24pt;
    padding: 1.5rem;
    border-radius: 20%;
    opacity: 0;
    display: none;
}

.wiggle {
    animation: wiggle;
    animation-duration: 650ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle {
    from { transform: rotateZ(10deg); opacity: 1; }
    to { transform: rotateZ(-10deg); opacity: 1; }
}

button {
    outline: none;
    cursor: pointer;
}

#launchButton {
    background: #733910;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #f4bc7d;
    font-family: "MedievalSharp";
    border: 2px solid #49240a;
}

#launchButton:hover {
    background: #f4bc7d;
    color: #733910;
}

#launchButton:active {
    background: #c08a4e;
    color: #733910;
}

#settingsWrap {
    position: absolute;
    top: 0.5rem; right: 0.5rem;
    width: 2.5rem; height: 2.5rem;
    background-color: transparent;
}

#settingsWrap button, #settingsBtn {
    width: 100%; height: 100%;
    border-color: transparent;
    background-image: url("https://image.flaticon.com/icons/svg/17/17214.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

#settings {
    background: rgba(74, 47, 26, 0.7);
    width: 100%;
    max-width: 25rem;
    border: none;
    border-radius: 1rem;
    font-size: 18pt;
    font-weight: bold;
    color: #f4bc7d;
    margin: 0 auto;
    padding: 1rem;
}
#settings * {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
}
#settings::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#settings footer button {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 18pt;
    border-top: 3px solid #49240a;
    font-weight: bold;
}
#settings footer button {
    outline: none;
    background: #733910;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #f4bc7d;
    font-family: "MedievalSharp";
    cursor: pointer;
    border: 2px solid #49240a;
}

#settings footer button:hover {
    background: #f4bc7d;
    color: #733910;
}

#settings footer button:active {
    background: #c08a4e;
    color: #733910;
}

#settings article section {
    display: flex;
    justify-content: space-between;
}

#settings input[type="checkbox"] {
    height: 1.2rem;
    width: 1.2rem;
}

/*::backdrop {*/
/*background-color: rgba(0, 0, 0, 0.5); !* TODO: fade out *!*/
/*}*/

/*#settings article, #settings footer {*/
/*padding: 0.75rem;*/
/*background: transparent;*/
/*}*/

/*#settings article {*/
/*display: table;*/
/*margin: auto;*/
/*}*/
/*#settings article section {*/
/*display: table-row;*/
/*margin: auto;*/
/*}*/
/*#settings article section div {*/
/*display: table-cell;*/
/*margin: auto;*/
/*}*/
/*#settings article section div:first-child {*/
/*width: 75%;*/
/*}*/
/*#settings footer {*/
/*text-align: right;*/
/*border-top: 1px solid rgba(0, 0, 0, 0.75);*/
/*}*/
/*#settings footer button {*/
/*user-select: none;*/
/*padding: 0 0.5rem;*/
/*border: none;*/
/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);*/
/*border-radius: 3px;*/
/*}*/
/*#settings footer button:hover {*/
/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);;*/
/*}*/
/*#settings footer button:active {*/
/*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);;*/
/*}*/