* {
    font-family: Calibri;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

h2 {
    font-size: 14pt;
    color: black;
}

h3 {
    font-size: 12pt;
    color: black;
}

body {
    display: grid;
}

#content {
    margin: auto;
    width: 100%;
    max-width: 50rem;
}



