@charset "utf-8";

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.8rem;
    font-family: sans-serif;
    background-color: #191919;
    color: #efefef;
}

#cards {
    border: 1px solid white;
    width: 100%;
    max-width: 100%;
}

#cards_inner {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem;
}

.card {
    border: 2px solid #ff0800;
    border-radius: 0.25rem;
    padding: 0.75rem;
    height: 12rem;
    width: 8rem;
    background-color: #efefef;
    color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card * {
    color: inherit;
    background-color: inherit;
}

.card header {
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card ._icon {
    height: 2rem;
    width: auto;
}

.card ._resourceCount {
    font-size: 1.2rem;
    font-weight: bold;
}

.card section, .card footer {
    text-align: center;
}