@charset "utf-8";

/* Information section */
#information {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    background-color: transparent;
}

#information * {
    font-size: inherit;
    background-color: transparent;
}

#information article {
    user-select: none;
}

.notify {
    animation: 1s lightup 1 ease-out;
}

@keyframes lightup {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: #18ff00;;
    }
}