@charset "utf-8";

/* Information section */
#information {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}

#information * {
    font-size: inherit;
}

#information article {
    user-select: none;
    /*display: inline-block;*/
}