@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.8rem;
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #191919;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Information section */
#information {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}

#information * {
    font-size: inherit;
}

#information article {
    user-select: none;
    display: flex;
    /*display: inline-block;*/
}

#information img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.joined {
    animation: joining;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes joining {
    to {
      background: lightgreen;
    }
}

/* Card section */
#cards {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #b7b7b7;
}

#cards_inner {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem;
}

.card_wrap {
    display: inline-block;
    margin-left: 1rem;
}

.card_wrap:first-child {
    margin-left: 0;
}

.card {
    user-select: none;
    border-radius: 0.25rem;
    padding: 0.75rem;
    height: 12rem;
    width: 8rem;
    /*background-color: #efefef;*/
    color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.defend {
    border: 2px solid #ff0800;
    background-color: rgba(255, 8, 0, 0.3);
}

.card.attack {
    border: 2px solid #35ef0b;
    background-color: rgba(53, 239, 11, 0.3);
}

.card * {
    color: inherit;
    background-color: transparent;
}

.card header {
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card ._icon {
    height: 2rem;
    width: auto;
}

.card ._resourceCount {
    font-size: 1.2rem;
    font-weight: bold;
}

.card section, .card footer {
    text-align: center;
}
/* End of card section */

/*#stats {*/
    /*padding: 1rem;*/
/*}*/

/*#statistics {*/
    /*display: flex;*/
    /*flex-direction: row;*/

/*}*/

/*#statistics section {*/
    /*font-size: 1.2rem;*/
    /*line-height: 2.2rem;*/
    /*width: 50%;*/
    /*letter-spacing: 0.05rem;*/
/*}*/

/*#statistics section p {*/
    /*font-size: inherit;*/
    /*line-height: inherit;*/
/*}*/

/*.own {*/
    /*text-align: right;*/
/*}*/

/*.stats span {*/
    /*font-size: inherit;*/
    /*line-height: inherit;*/
    /*font-weight: bold;*/
/*}*/

#resources {
    padding: 1rem;
}

.icon_1 {
    height: 1rem;
}

#resources_inner {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

#resources_inner section {
    display: inline-block;
    margin-left: 1rem;
}

#resources_inner section:first-child {
    margin-left: 0;
}