@charset "utf-8";

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.8rem;
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #191919;
}

html, body {
    height: 100%;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}