html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game {
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 0;
}

#toolbar img {
    margin: 0.5rem;
    height: 2rem;
    width: 2rem;
}

/* --- control -------------------------------------------------------------------------- */
#wrapper {
    margin: 0 auto;
    width: 80%;
}

#spawnButton {
    margin: 0 auto;
    font-size: 20pt;
    font-family: Arial;
    font-weight: bold;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background: aliceblue;
    border: 4px solid cornflowerblue;
}

#spawnButton:active {
    background: #c1c8cd;
}