html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "MedievalSharp";
}

#game {
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
}

#toolbar {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    user-select: none;
}

#toolbar img {
    margin: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    user-select: none;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#toolbar img:hover, img:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#toolbar img:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* --- options -------------------------------------------------------------------------------------------------------*/

#options {
    background: rgba(74, 47, 26, 0.7);
    width: 100%;
    max-width: 20rem;
    border: none;
    border-radius: 5%;
    font-size: 18pt;
    font-weight: bold;
    color: #f4bc7d;
}

#options button {
    position: absolute;
    margin-top: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border: none;
    border-top: 3px solid #49240a;
    outline: none;
    background: #733910;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 18pt;
    font-weight: bold;
    color: #f4bc7d;
    font-family: "MedievalSharp";
}

#options button:hover {
    background: #f4bc7d;
    color: #733910;
}

dialog::backdrop, #backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.option {
    width: 100%;
}

.option .description {
    text-align: center;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #f4bc7d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #733910;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* --- responsiveness ------------------------------------------------------------------------------------------------*/

@media (max-width: 1020px), (max-height: 600px) {
    .statsVisibility {
        display: none;
    }

    .infoVisibility {
        display: block !important;
    }
}

/* --- info ----------------------------------------------------------------------------------------------------------*/

#info {
    display: none;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

#info .label {
    display: inline-flex;
    padding: 0.5rem 0.5rem 0.5rem 0;
    width: 4.5rem;
}

.container {
    border-top: 2px solid rgba(0, 0, 0, 0.8);
}

.infoProperty {
    display: inline-flex;
}

.infoProperty img {
    height: 1rem;
    width: 1rem;
    user-select: none;
}

.infoProperty .value {
    height: 1rem;
    margin: 0 0 0 0.5rem;
    padding-right: 0.5rem;
    user-select: none;
    border-right: 1px dotted rgba(0, 0, 0, 0.5);
}

/* --- stats ---------------------------------------------------------------------------------------------------------*/

#stats-1 {
    position: absolute;
    left: 1rem;
    top: 3rem;
}

#stats-2 {
    position: absolute;
    right: 2rem;
    top: 3rem;
}

.stats-container {
    font-family: Arial;
    font-weight: bold;
}

.stat {
    margin-top: 1rem;
    user-select: none;
}

.outer {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.inner {
    padding: 0.5rem;
}

.property {
    display: flex;
}

.property .description {
    display: inline-block;
    width: 50%;
}

.property .icon {
    text-align: center;
}

.property .icon img {
    width: 1rem;
    height: 1rem;
}

.property .text {
    font-size: 8pt;
    text-align: center;
}

.property .value {
    padding-right: 0.2rem;
    text-align: right;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    line-height: 150%;
    font-size: 14pt;
}

.spacer {
    margin: 0.4rem 0 0.4rem 0;
    width: 100%;
    border-bottom: 4px dotted rgba(0, 0, 0, 0.7);
}

.stone {
    border: 0.5rem solid #6e3232;
    background: indianred;
}

.weapon {
    border: 0.5rem solid #186218;
    background: limegreen;
}

.crystal {
    border: 0.5rem solid dodgerblue;
    background: #a5d9ff;
}

.health {
    border: 0.5rem solid #343434;
    background: #969696;
}

.marginTop {
    margin-top: 2rem;
}

/* --- decks ---------------------------------------------------------------------------------------------------------*/

@media (max-height: 725px) {
    .hideOn725 {
        display: none;
    }
}

#deck-1 {
    left: 1.5rem;
}

#deck-2 {
    right: 1.5rem;
}

.deck {
    position: absolute;
    bottom: 1rem;
    height: 7rem;
    width: 6rem;
    background: #f4bc7d;
    border: 4px solid #733910;
    border-radius: 5%;
}

.deck img {
    width: 2.5rem;
    height: 2.5rem;
}

.left-top {
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
}

.right-top {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    transform: rotate(90deg);
}

.left-bot {
    position: absolute;
    left: 0.2rem;
    bottom: 0.2rem;
    transform: rotate(270deg);
}

.right-bot {
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    transform: rotate(180deg);
}

/* --- control -------------------------------------------------------------------------- */
#wrapper {
    margin: 0 auto;
    width: 80%;
}

#spawnButton {
    margin: 0 auto;
    font-size: 20pt;
    font-family: Arial;
    font-weight: bold;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background: aliceblue;
    border: 4px solid cornflowerblue;
}

#spawnButton:active {
    background: #c1c8cd;
}