@charset "utf-8";

#stats_resources {
    width: 100%;
    border-bottom: 1px solid #b7b7b7;
    height: 10rem;
    padding: 1rem;
}
.stats_resources:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

#stats_resources section {
    height: 100%;
    /*border: 1px solid yellow;*/
    float: left;
}

#stats {
    width: 8rem;
}

.stat {
    user-select: none;
    border-radius: 0.5rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0.5rem;
}
.stat aside:first-child {
    border-bottom: 4px dotted rgba(0, 0, 0, 0.7);
}
.stat * {
    background-color: inherit;
}

.health {
    border: 0.5rem solid #343434;
    background: #969696;
}
.stone {
    border: 0.5rem solid #6e3232;
    background: indianred;
}
.weapon {
    border: 0.5rem solid #186218;
    background: limegreen;
}
.crystal {
    border: 0.5rem solid dodgerblue;
    background: #a5d9ff;
}

.property {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 0.25rem;
}
.property img {
    height: 1rem;
    width: 1rem;
}

.description span {
    font-size: 8pt;
}

.description {
    text-align: center;
    display: grid;
    justify-items: center;
}

.noMarginTop {
    margin-top: -1rem;
    background: transparent;
}

.propertyValue {
    text-align: right;
    line-height: 2.5rem;
    font-size: 1.5rem;
}


#resources {
    width: calc(100% - 9rem);
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 1rem;
    height: calc(100% + 1rem) !important;
}

#resources article.stat {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    margin-left: 0.5rem;
}
#resources article.stat:first-child {
    margin-left: 0;
}