@charset "utf-8";

#cards {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #b7b7b7;
}

#cards_inner {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem;
    height: 14rem;
}

article.card {
    height: 12rem;
    width: 8rem;
    display: inline-block;
    margin-left: calc(1rem - 3px);
    cursor: pointer;
}
article.card:first-child {
    margin-left: 0;
}

article.card.disabled {
    cursor: default;
    /*background-color: grey;*/
    /*border-radius: 0.25rem;*/
}

.scene {
    width: 8rem;
    height: 12rem;
    perspective: 300rem;
}

.scene_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
    transform-style: preserve-3d;
    border-radius: 0.25rem;
}

.scene_inner.is-flipped {
    transform: rotateY(180deg);
}
.scene_inner.vanished {
    transform: translateY(-12rem);
    opacity: 0;
}

.scene_inner.attack {
    border: 2px solid #35ef0b;
    background-color: rgba(53, 239, 11, 0.3);
}
.scene_inner.defense {
    border: 2px solid #ff0800;
    background-color: rgba(255, 8, 0, 0.3);
}
.scene_inner.magic {
    border: 2px solid #4039af;
    background-color: rgba(46, 57, 175, 0.3);
}
.scene_inner * {
    background-color: transparent;
    color: inherit;
}
article.card.disabled .scene_inner {
    background-color: grey;
}

.card_face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    /*border: 1px solid green;*/
    user-select: none;
    border-radius: 0.25rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_face header {
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_face ._icon {
    height: 2rem;
    width: auto;
}
.card_face ._resourceCount {
    font-size: 1.2rem;
    font-weight: bold;
}
.card_face section, .card_face footer {
    text-align: center;
    font-size: 0.8rem;
}

.back {
    transform: rotateY(180deg);
}

#dismissCard {
    background: rgba(74, 47, 26, 0.7);
    width: 100%;
    max-width: 25rem;
    border: none;
    border-radius: 1rem;
    font-size: 18pt;
    font-weight: bold;
    color: #f4bc7d;
    margin: 0 auto;
    padding: 1rem;
}
#dismissCard * {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
}
#dismissCard::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#dismissCard footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dismissCard footer button {
    margin-top: 1rem;
    height: 3rem;
    font-size: 18pt;
    border-top: 3px solid #49240a;
    font-weight: bold;
}
#dismissCard footer button {
    outline: none;
    background: #733910;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #f4bc7d;
    font-family: "MedievalSharp";
    cursor: pointer;
    border: 2px solid #49240a;
}

#dismissCard footer button:hover {
    background: #f4bc7d;
    color: #733910;
}

#dismissCard footer button:active {
    background: #c08a4e;
    color: #733910;
}